body{
    font-family:sans-serif;
    background:#f4f4f4;
    margin:20px;
}

h1{
    text-align:center;
}

.upload-box{
    background:white;
    padding:15px;
    border-radius:10px;
    margin-bottom:20px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

button{
    padding:10px;
    font-size:16px;
    cursor:pointer;
}

#status{
    margin-bottom:20px;
    font-weight:bold;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th,td{
    border:1px solid #ccc;
    padding:8px;
    text-align:center;
}

input.rankInput,
input.scoreInput{
    width:80px;
}

input.nameInput{
    width:220px;
}
