body{
  font-family: sans-serif;
  padding:20px;
}

table{
  border-collapse: collapse;
  margin-top:20px;
  width:400px;
}

td,th{
  border:1px solid #ccc;
  padding:6px 10px;
  text-align:center;
}

input{
  width:90px;
}
